.product {
  border-bottom: 1px dashed #000;
  margin-bottom: 5px;
  padding: 5px;
  line-height: 1.6;
  display: flex;
  font-size: 12px;
}

.product > .code {
  flex: 1;
}

.product .actions button {
  background: #000;
  color: #fff;
  border: 0 none;
  padding: 3px 5px;
  vertical-align: middle;
}